.confirmation-popup {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 320px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    p {
      margin-bottom: 5px;
      text-align: center;
      width: 100%;
      font-size: large;
      font-weight:bold;
    }
  
    .button-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 5px;
      
  
  
      button {
        padding: 5px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: large;
  
        &:first-child {
          background-color: #4CAF50;
          color: white;
  
          &:hover {
            background-color: #45a049;
          }
        }
  
        &:last-child {
          background-color: #f44336;
          color: white;
  
          &:hover {
            background-color: #da190b;
          }
        }
      }
    }
  }
  
    .button-container-rotate-cancel {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content:space-between;
      gap: 10px;
      max-width: 320px;
    
  
    button {
      padding: 5px 15px;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: larger;
    }
  }

    .delete-button {
      position: absolute;
      bottom: 20px;
      left: 80px;
      padding: 5px 15px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: larger;
  
      &:hover {
        background-color: #da190b;
      }
    }
  
  .cancel-button {
    background-color: #f44336;
  
    &:hover {
      background-color: #da190b;
    }
  }
  
  .rotate-button {
    background-color: #2196F3;
  
    &:hover {
      background-color: #0b7dda;
    }
  }